<a href="https://colab.research.google.com/github/feverpower/data-learning-group/blob/main/onion_prices_analysis_2020_bkup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing Tools

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('Onion Prices 2020.csv')

##Exploration of data

* View sample data (Head)
* View sample data (Tail)
* Get size
* View data types
* Get unique values
* Find any single value columns (individually or part of a value)
 * Individually
 * Part of value (date, example)
* Find all null value columns (??)

In [3]:
dataset.head()

            state district   market  ... min_price max_price modal_price
0  Andhra Pradesh  Kurnool  Kurnool  ...      1350      4390      3100.0
1  Andhra Pradesh  Kurnool  Kurnool  ...      1390      4400      3200.0
2  Andhra Pradesh  Kurnool  Kurnool  ...      1460      5150      4310.0
3  Andhra Pradesh  Kurnool  Kurnool  ...      2010      5200      4200.0
4  Andhra Pradesh  Kurnool  Kurnool  ...      1320      4050      3300.0

[5 rows x 9 columns]

In [4]:
dataset.tail()

              state            district  ... max_price modal_price
107290  West Bengal  Sounth 24 Parganas  ...      2300      2250.0
107291  West Bengal  Sounth 24 Parganas  ...      2600      2200.0
107292  West Bengal  Sounth 24 Parganas  ...      2875      2800.0
107293  West Bengal  Sounth 24 Parganas  ...      2875      2800.0
107294  West Bengal  Sounth 24 Parganas  ...      2890      2870.0

[5 rows x 9 columns]

In [5]:
dataset.shape

(107295, 9)

In [6]:
dataset.dtypes

state            object
district         object
market           object
commodity        object
variety          object
arrival_date     object
min_price         int64
max_price         int64
modal_price     float64
dtype: object

In [7]:
# These steps can be looped for each column in the dataset

In [8]:
# Get unique values in specified column
#dataset['column-name'].unique()

In [9]:
# Get value and its count in specified column
#dataset['column-name'].value_counts()

In [10]:
dataset['state'].value_counts()

Uttar Pradesh        37263
Punjab               10783
Kerala                8834
West Bengal           7235
Odisha                6938
Haryana               6637
Rajasthan             4974
Maharashtra           4788
Madhya Pradesh        4333
Karnataka             3775
Gujarat               2940
Himachal Pradesh      2486
Uttrakhand            1731
Tripura               1626
Jammu and Kashmir      831
Chattisgarh            733
Telangana              507
NCT of Delhi           371
Jharkhand              302
Andhra Pradesh         127
Goa                     74
Nagaland                 7
Name: state, dtype: int64

In [11]:
dataset['district'].value_counts()

Kottayam        1671
Alappuzha       1563
Nashik          1473
Bulandshahar    1397
Hamirpur        1187
                ...
Rayagada           2
Badwani            2
Ratnagiri          2
Raisen             1
Bidar              1
Name: district, Length: 315, dtype: int64

In [12]:
dataset['market'].value_counts()

Kayamkulam                        461
Hubli (Amaragol)                  416
Palakkad                          370
Bangalore                         361
Chengannur                        346
                                 ...
New Grain Market(main), Karnal      1
Ambala City                         1
Jamanian                            1
Pandhana(F&V)                       1
Raisen                              1
Name: market, Length: 905, dtype: int64

In [13]:
dataset['commodity'].value_counts()

Onion    107295
Name: commodity, dtype: int64

In [14]:
dataset['variety'].value_counts()

Other               38316
Red                 36455
Onion               14712
Local                3663
1st Sort             3490
Nasik                3449
Big                  2989
Small                1658
White                 490
Pusa-Red              436
Puna                  348
Medium                343
Bombay (U.P.)         224
Dry F.A.Q.            191
Beelary-Red           149
Pole                  126
Telagi                115
2nd Sort               76
Hybrid                 63
Bangalore-Samall        1
Bellary                 1
Name: variety, dtype: int64

In [15]:
dataset['arrival_date'].value_counts()

16/03/2020    554
18/03/2020    550
11/02/2020    546
17/03/2020    541
19/03/2020    538
             ...
02/08/2020    187
29/03/2020    182
25/03/2020    181
01/08/2020    180
22/03/2020     67
Name: arrival_date, Length: 260, dtype: int64

In [16]:
dataset[dataset.isnull().any(axis=1)]

Empty DataFrame
Columns: [state, district, market, commodity, variety, arrival_date, min_price, max_price, modal_price]
Index: []

In [17]:
dataset[dataset.isna().any(axis=1)]

Empty DataFrame
Columns: [state, district, market, commodity, variety, arrival_date, min_price, max_price, modal_price]
Index: []

## Add/Remove Variables

In [18]:
dataset['commodity'].value_counts()

Onion    107295
Name: commodity, dtype: int64

In [19]:
#dataset = dataset.drop('commodity', 1)
dataset.drop('commodity', axis=1, inplace=True)

In [20]:
pd.to_datetime(dataset['arrival_date']).dt.year.value_counts()

2020    107295
Name: arrival_date, dtype: int64

In [21]:
#dataset['arrival_date'] = pd.to_datetime(dataset['arrival_date'])
dataset.insert(0, column='arrival_month', value=pd.to_datetime(dataset['arrival_date']).dt.month)
dataset.drop('arrival_date', axis=1, inplace=True)

In [22]:
dataset.head()

   arrival_month           state district  ... min_price max_price  modal_price
0              3  Andhra Pradesh  Kurnool  ...      1350      4390       3100.0
1              4  Andhra Pradesh  Kurnool  ...      1390      4400       3200.0
2              6  Andhra Pradesh  Kurnool  ...      1460      5150       4310.0
3              7  Andhra Pradesh  Kurnool  ...      2010      5200       4200.0
4             10  Andhra Pradesh  Kurnool  ...      1320      4050       3300.0

[5 rows x 8 columns]

In [23]:
dataset.dtypes

arrival_month      int64
state             object
district          object
market            object
variety           object
min_price          int64
max_price          int64
modal_price      float64
dtype: object

There are two theories whether to do transformation before or after split. 

Some say to transformation on the full dataset, but create a fit and transform set to support the live prod set. 

Other theory is to transform on the training set and apply it on the validation/test set and live prod set. If the transform fail, handle it.

## Split the dataset into Training and Validation set

In [24]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [25]:
print(X_train)

[[4 'Uttar Pradesh' 'Bulandshahar' ... 'Red' 1300 1500]
 [6 'West Bengal' 'Nadia' ... 'Other' 5200 5400]
 [8 'West Bengal' 'Nadia' ... 'Other' 1900 2100]
 ...
 [5 'Haryana' 'Fatehabad' ... 'Other' 1000 1000]
 [5 'Uttar Pradesh' 'Ghaziabad' ... 'Red' 700 800]
 [3 'Uttrakhand' 'Dehradoon' ... 'Other' 2210 3200]]

In [26]:
print(X_test)

[[5 'Uttar Pradesh' 'Auraiya' ... 'Red' 700 900]
 [7 'Uttar Pradesh' 'Fatehpur' ... 'Red' 4550 5150]
 [5 'Rajasthan' 'Alwar' ... 'Other' 700 1100]
 ...
 [6 'Uttar Pradesh' 'Hathras' ... 'Red' 920 1120]
 [10 'Uttar Pradesh' 'Bareilly' ... 'Red' 2000 2100]
 [4 'Uttar Pradesh' 'Agra' ... 'Red' 3000 3100]]

In [27]:
print(y_train)

[1400. 5300. 2000. ... 1000.  750. 2550.]

In [28]:
print(y_test)

[ 800. 4800.  900. ... 1020. 2050. 3050.]

## Identify and Process missing data

In [39]:
#dataset.isnull().any(axis=1)]

In [40]:
#dataset.isna().any(axis=1)]

In [34]:
#object_variables['column-name'].value_counts()
#object_variables = object_variables.fillna({"column-name": "value"})
#or
#df_ml = df.dropna(subset=['price'])

#from sklearn.impute import SimpleImputer
#imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer.fit(X[:, 1:3])
#X[:, 1:3] = imputer.transform(X[:, 1:3])

In [41]:
#trf1 = ColumnTransformer(transformers =[ 
#    ('cat', SimpleImputer(strategy ='most_frequent'), ['sex', 'smoker', 'region']), 
#    ('num', SimpleImputer(strategy ='median'), ['age', 'bmi', 'children']), 
      
#], remainder ='passthrough')

## Encoding categorical data

In [47]:
pd.DataFrame(X_train).head()

   0              1             2          3         4     5     6
0  4  Uttar Pradesh  Bulandshahar     Khurja       Red  1300  1500
1  6    West Bengal         Nadia    Chakdah     Other  5200  5400
2  8    West Bengal         Nadia   Ranaghat     Other  1900  2100
3  1      Rajasthan      Jhunjunu  Nawalgarh  1st Sort  2690  2710
4  6        Haryana        Hissar   Narnaund     Other  1200  1400

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), [1,2,3,4,5])],remainder='passthrough')
r_train = ct.fit_transform(X_train)
r_test = ct.transform(X_test)

#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), ['state', 'district', 'market', 'variety'])],remainder='passthrough')

#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), list(range(6)))],remainder='passthrough')
#ct.fit(X)
#ct.transform()
#ct.transform()

ValueError: ignored

In [43]:
#rom sklearn.compose import ColumnTransformer
#from sklearn.preprocessing import OneHotEncoder
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), ['state', 'district', 'market', 'variety'])],remainder='passthrough')
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), [1,2,3,4,5])],remainder='passthrough')
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), list(range(6)))],remainder='passthrough')
#ct.fit(X)
#ct.transform()
#ct.transform()
#from sklearn.preprocessing import OneHotEncoder

#ohe = OneHotEncoder()
#oheFit = ohe.fit(dataset['state'].values)

#result_train = ct.fit_transform(X_train)
#result_train = ct.fit_transform(X_train)

In [45]:
#pd.DataFrame(result_train.toarray()).head()

In [46]:
ct.get_feature_names

NameError: ignored

In [ ]:
trf2 = ColumnTransformer(transformers =[ 
    ('enc', OneHotEncoder(sparse = False, drop ='first'), list(range(3))), 
], remainder ='passthrough')

preds = pipe.predict(X_test) 

# This is how the original test set insurance prices and 
# our predicted ones stack up 

pd.DataFrame({'original test set':y_test, 'predictions': preds}) 

pipe.fit(X_train, y_train) 

pipe = Pipeline(steps =[ 
	('tf1', trf1), 
	('tf2', trf2), 
	('tf3', MinMaxScaler()), # or StandardScaler, or any other scaler 
	('model', RandomForestRegressor(n_estimators = 200)), 
# or LinearRegression, SVR, DecisionTreeRegressor, etc 
])

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0, 1, 2, 3, 4, 5])],remainder='passthrough')
X_train = np.array(ct.fit_transform(X_train))
X_test = np.array(ct.fit_transform(X_train))

In [ ]:
object_variables = dataset.select_dtypes(include=['object']).copy()

In [ ]:
object_variables.head()

In [ ]:
#if the categorical column is true number, but has text as number. Like two for 2, then approach below would be ideal

#cleanup_numerical_categories = {'column-name1': {'four': 4, 'two': 2},
#                'column-name2': {'four': 4, 'six': 6, 'five': 5, 'eight': 8}
#                }
#object_variables = object_variables.replace(cleanup_numerical_categories)

In [ ]:
#if the categorical column is true categorical column (not ordinal?)

#object_variables['column-name'] = object_variables['column-name'].astype('category')
#object_variables.dtypes
#object_variables['column-name'] = object_variables['column-name'].cat.codes

In [ ]:
pd.get_dummies(object_variables, columns=object_variables.columns).head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(object_variables)

In [ ]:
oe_results.toarray()

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [ ]:
#binary encoding
#obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [ ]:
#sklearn options - OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
obj_df["make_code"] = ord_enc.fit_transform(obj_df[["make"]])
obj_df[["make", "make_code"]].head(11)

from sklearn.preprocessing import OneHotEncoder

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(obj_df[["body_style"]])
pd.DataFrame(oe_results.toarray(), columns=lb_style.categories_).head()

obj_df = obj_df.join(pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_))

from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

# for the purposes of this analysis, only use a small subset of features

feature_cols = [
    'fuel_type', 'make', 'aspiration', 'highway_mpg', 'city_mpg',
    'curb_weight', 'drive_wheels'
]
column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),
                                        ['fuel_type', 'make', 'drive_wheels']),
                                      (OrdinalEncoder(), ['aspiration']),
                                      remainder='passthrough')

### Encoding the Independent Variable

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])],remainder='passthrough')
#A = ct.fit_transform(X)
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

### Encoding the Dependent Variable

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
print(y)

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])

In [ ]:
print(X_train)

In [ ]:
print(X_test)